absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
build
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
google-pasta
greenlet
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
intel-cmplr-lib-ur
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl
ml_dtypes
mpld3
mpmath
mysql-connector-python
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pillow
pip
pip-tools
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pycparser
Pygments
pyparsing
pyproject_hooks
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shapely
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tbb
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
